[Unit]
Description=Prometheus Smokeping Prober
Documentation=https://github.com/SuperQ/smokeping_prober
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=smokeping_prober
Group=smokeping_prober

ExecStart=/usr/bin/smokeping_prober localhost

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
