[Unit]
Description=Prometheus Consul Exporter
Documentation=https://github.com/prometheus/consul_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=consul_exporter
Group=consul_exporter

ExecStart=/usr/bin/consul_exporter --web.listen-address=0.0.0.0:9107 --consul.server=127.0.0.1:8500

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

# Hardening (safe, non-behavioural)
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
