[Unit]
Description=Prometheus Systemd Exporter
Documentation=https://github.com/prometheus-community/systemd_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=systemd_exporter
Group=systemd_exporter

ExecStart=/usr/bin/systemd_exporter --web.listen-address=0.0.0.0:9558

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
