[Unit]
Description=Prometheus Paperless Exporter
Documentation=https://github.com/hansmi/prometheus-paperless-exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=prometheus-paperless-exporter
Group=prometheus-paperless-exporter

EnvironmentFile=/etc/prometheus-paperless-exporter/service.conf
ExecStart=/usr/bin/prometheus-paperless-exporter

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

# --- Hardening ---
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
