[Unit]
Description=Prometheus Redis Exporter
Documentation=https://github.com/oliver006/redis_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=redis_exporter
Group=redis_exporter

ExecStart=/usr/bin/redis_exporter --web.listen-address=0.0.0.0:9121 --redis.addr=redis://127.0.0.1:6379

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

# Hardening (safe, non-behavioural)
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
