[Unit]
Description=Prometheus HAProxy Exporter
Documentation=https://github.com/prometheus/haproxy_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=haproxy_exporter
Group=haproxy_exporter

ExecStart=/usr/bin/haproxy_exporter --web.listen-address=0.0.0.0:9101 --haproxy.scrape-uri=unix:/var/lib/haproxy/stats

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

# Hardening (safe, non-behavioural)
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
