[Unit]
Description=Prometheus Postgres Exporter
Documentation=https://github.com/prometheus-community/postgres_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=postgres_exporter
Group=postgres_exporter

Environment="DATA_SOURCE_NAME=postgresql://postgres@localhost:5432/postgres?sslmode=disable"

ExecStart=/usr/bin/postgres_exporter --web.listen-address=0.0.0.0:9187 --extend.query-path=/etc/prometheus/postgres_exporter/queries.yaml

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

# Hardening (safe, non-behavioural)
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
