[Unit]
Description=Thanos Sidecar
Documentation=https://thanos.io/
After=network-online.target prometheus.service
Wants=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
SupplementaryGroups=thanos

EnvironmentFile=-/etc/thanos/sidecar.conf
ExecStart=/usr/bin/thanos sidecar $THANOS_OPTS

Restart=on-failure
RestartSec=5s

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target
