[Unit]
Description=Thanos Store
Documentation=https://thanos.io/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=thanos
Group=thanos

EnvironmentFile=-/etc/thanos/store.conf
ExecStart=/usr/bin/thanos store $THANOS_OPTS

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target
