[Unit]
Description=Prometheus Restic Exporter
Documentation=https://github.com/ngosang/restic-exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=restic_exporter
Group=restic_exporter

EnvironmentFile=-/etc/restic_exporter.d/env
ExecStart=/usr/bin/restic_exporter

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

# --- Hardening ---
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
