[Unit]
Description=Prometheus Ping Exporter
Documentation=https://github.com/czerwonk/ping_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ping_exporter
Group=ping_exporter

ExecStart=/usr/bin/ping_exporter --config.path=/etc/prometheus/ping_exporter/ping.yml --web.listen-address=0.0.0.0:9427

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW

# Hardening (safe, non-behavioural)
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes

[Install]
WantedBy=multi-user.target
